@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap");

@import url("tldraw/tldraw.css");

body {
  font-family: "Inter";
}

.map-selector {
  position: fixed;
  top: 0;
  right: 0;
  margin-left: auto;
  margin-right: 0;
  width: 100px;
  border-bottom-left-radius: var(--radius-4);
  border-bottom-right-radius: 0;

  @media (min-width: 641px) {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    border-bottom-right-radius: var(--radius-4);
  }
}

.tlui-map-selector__trigger {
	width: 100px;
}
